/* Global Styles */
body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#f4f4f4
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; /* By default (larger screens) */
}

/* Navbar Styles */
nav {
    background-color: #ffffff; /* Or any color you prefer */
    padding: 15px 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); /* Adds shadow to navbar */
    display: flex;
    justify-content: space-between; /* Space out the brand, nav buttons, and profile links */
    align-items: center; /* Center items vertically */
    position: relative; /* To center the buttons in the navbar */
}

.brand {
    display: flex;
    align-items: center;
    margin-left: 20px; /* Adjust as needed */
}

.nav-buttons-container {
    display: flex;
    justify-content: center;
    flex-grow: 1; /* Allow this container to grow and center items */
}

.nav-buttons {
    display: flex;
    gap: 20px;
}

.nav-btn {
    background: none;
    border: none;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    cursor: pointer;
    color: #333; /* Or any color you prefer */
    padding: 10px 20px;
    transition: color 0.3s;
}

.nav-btn:hover {
    color: #8ba4ff; /* Color on hover. Change as per your theme */
}

.nav-btn.active {
    color: #8ba4ff;
}


.nav-links {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adjust as needed */
}

.nav-links a {
    margin-left: 30px;
    font-weight: 400;
    text-decoration: none;
    color: #333; /* Or any color you prefer */
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #8ba4ff; /* Color on hover. Change as per your theme */
}

/* Media queries for smaller screens */
@media only screen and (max-width: 1000px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .nav-links.active {
        display: flex;
        position: absolute;
        top: 70px;
        right: 5%;
        background-color: #f2f2f2; /* Changed background color to light grey */
        flex-direction: column;
        gap: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        z-index: 1000; /* Ensures dropdown content is above other page content */
    }

    .nav-links.active a {
        text-align: center; /* Center aligns the text in dropdown */
        margin-left: 15px; /* Add some padding to the left */
        margin-right: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.logo-icon {
    height: 50px;
    width: 50px; /* Or adjust as needed */
    margin-right: 13px; /* Spacing between logo icon and brand name */
    border-radius: 10px;
}




@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.class-boxes {
    display: flex;
    flex-direction: column; /* Change to column layout */
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.class-box {
    width: 80%; /* Adjust width as needed */
    height: 150px;
    background-color: #8ba4ff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    margin: 10px 0; /* Add margin between boxes */
}

.class-box:hover {
    background-color: #216bff;
    transform: scale(1.05); /* Slightly enlarge on hover */
}

.class-content {
    overflow-y: auto;
}


.welcome h1 {
    -webkit-background-clip: text;
    background-clip: text;
    color: #216bff;
    font-size: 4rem; 
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 40px; 
    animation: fadeIn 1s ease forwards;
}

.class-dropdown {
    color: #8ba4ff;
    width: 100%;
    font-size: 1.7rem; 
    font-weight: 50;
    line-height: 1.3;
    margin-bottom: 40px; 
    display: flex;
    flex-direction: row; /* Change flex-direction to row */
    align-items: center; /* Align items vertically in case of height differences */
    animation: fadeIn 1s ease forwards;
}

.class-dropdown label {
    padding-right: 10px;
}

/* Style for dropdown */
.class-dropdown select {
    width: 20%;
    padding: 10px; /* Adjust padding as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    appearance: none; /* Removes default arrow */
    -webkit-appearance: none; /* For older versions of Safari */
    -moz-appearance: none; /* For older versions of Firefox */
}

/* Style for dropdown options */
.class-dropdown select option {
    background-color: #fff;
    color: #333;
}

.class-content {
    overflow-y: auto;
}

/*
.adjacent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
*/

/* Add styles for search bar */
.search-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px; /* Adjust margin as needed */
}

.search-bar input[type="text"] {
    width: 200px; /* Adjust width as needed */
    padding: 10px; /* Adjust padding as needed */
    margin-right: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.search-bar button {
    background-color: #8ba4ff; /* Adjust the shade if necessary */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.search-bar button:hover {
    background-color: #216bff;
    transform: scale(1.05); /* 5% larger on hover */
}


.btn-group {
    display: flex;
    gap: 30px; /* Gap between the two buttons */
    animation: fadeIn 1s ease forwards; 
}

.primary-btn {
    font-family: Poppins, 'sans-serif';
    font-weight: 500;
    background-color: #8ba4ff; /* Adjust the shade if necessary */
    color: rgb(255, 255, 255);
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    text-decoration: none;
}

.primary-btn:hover {
    background-color: #216bff;
    transform: scale(1.05); /* 5% larger on hover */
}

/* Hamburger Menu Styles */
.hamburger {
    display: none; /* Hide by default */
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    align-items: center;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    border-radius: 2px;
}

/* Dropdown Active Styles */
.nav-links.active {
    display: flex;
    position: absolute;
    top: 70px;
    right: 5%;
    background-color: #f2f2f2;  /* Changed background color to light grey */
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;  /* Ensures dropdown content is above other page content */
}

.nav-links.active a {
    text-align: center; /* Left aligns the text in dropdown */
    margin-left: 15px; /* Add some padding to the left */
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav-container, .content-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; /* By default (larger screens) */
}

.content-container {
    width: 90%;
    margin: 0 auto;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    .intro h1 {
        font-size: 3.4rem; 
    }

    .intro p {
        font-size: 1.2rem;
    }

    .primary-btn {
        padding: 10px 20px;
        font-size: 0.9rem;
    }

    .graphic-container{
        margin-top: 65px;
    }
}

/* For tablets and smaller desktops */
@media only screen and (max-width: 1024px) {
    .intro h1 {
        font-size: 2.6rem; 
    }

    .intro p {
        font-size: 1.1rem;
    }

    .primary-btn {
        padding: 10px 15px;
        font-size: 0.8rem;
    }

    .graphic-container{
        margin-top: 40px;
    }
}

/* For mobile devices */
@media only screen and (max-width: 1000px) {
    .nav-container {
        width: 80%;
        flex-direction: row; /* Make sure the brand remains on the left and the hamburger on the right */
    }

    .content-container {
        width: 80%;
        flex-direction: column;
        text-align: center; 
    }

    .nav-links {
        display: none;
    }

    .main-content {
        flex-direction: column-reverse;
        height: auto;
        padding: 20px 0;
    }

    .intro, .graphic-container {
        width: 100%;
    }

    .intro {
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .intro h1 {
        font-size: 2.5rem; 
    }

    .intro p {
        font-size: 1rem;
    }

    .btn-group {
        flex-direction: column;
        gap: 15px;
        text-align: center; /* Center the buttons */
        padding-bottom: 20px; /* Space below the buttons */
    }

    .primary-btn {
        width: 35%;
        margin: 0 auto; /* To center align the buttons */
        margin-bottom: 10px; /* Space between stacked buttons */
        box-sizing: border-box;
        font-size: 1rem;
    }

    .graphic-container {
        margin-top: 0; 
        margin-bottom: 30px; /* Space at the bottom of the image */
    }

    .nav-links {
        display: none;
    }

    .hamburger {
        display: flex;
    }
}

/* For mobile devices */
@media only screen and (max-width: 768px) {
    .primary-btn {
        width: 35%;
        margin: 0 auto; /* To center align the buttons */
        margin-bottom: 10px; /* Space between stacked buttons */
        box-sizing: border-box;
        font-size: 0.85rem;
    }
}

/* Very small screens, typical of mobile phones */
@media only screen and (max-width: 480px) {
    .brand-name {
        font-size: 24px;
    }

    .logo-icon {
        height: 35px;
        width: 35px;
    }

    .intro h1 {
        font-size: 2rem;
    }

    .intro p {
        font-size: 0.9rem;
    }

    .primary-btn {
        padding: 8px 15px;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    margin-bottom: 20%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    max-width: 90%;
    max-height: 90vh;
    overflow: auto;
  }
  
  .modal img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    object-fit: contain;
    overflow: hidden;
  }
  
  .modal-button {
    width: 250px;
    max-width: 100%;
    max-height: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.2s ease-in-out;
    overflow: hidden;
    margin: 10px;
  }
  
  .modal-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .modal-button img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    object-fit: cover;
  }
  
  .modal-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .modal-button .button-text {
    font-size: 14px;
    line-height: 1.5;
  }
  
  .modal-button .button-text strong {
    font-weight: bold;
  }
  
  .modal-button .button-text em {
    font-style: italic;
    font-weight: bold;
  }
  
  .modal-text {
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    text-align: center;
  }
  
  .modal-text p {
    font-family: 'Poppins', sans-serif;
    margin: 0;
  }
  
  .close {
    color: rgba(0, 0, 0, 0.6);
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover {
    color: rgba(0, 0, 0, 0.8);
  }
  
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .modal-content {
    position: relative;
  }
  
  .group-status-taken {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: rgb(217, 55, 55);
    color: white;
    padding: 10px; 
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    position: relative;
    top: 5px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .group-status-free {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: rgb(69, 189, 79);
    color: white;
    padding: 10px; 
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    position: relative;
    top: 5px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
    
  .like-button {
    font-family: 'Poppins', sans-serif;
    border: 1px solid #333;
    color: rgb(12, 12, 12);
    padding: 10px; 
    border-radius: 10px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    position: relative;
    top: 5px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .liked-button {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: rgb(142, 142, 142);
    color: rgb(255, 255, 255);
    padding: 10px; 
    border-radius: 10px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    position: relative;
    top: 5px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }



